<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabores que conquistan</title>
    <link rel="shortcut icon" href="img/pizza.png" type="image/x-icon">
    <!-- <CSS> -->
    <link rel="stylesheet" href="CSS/styles.css">
    <!-- <BOOTSTRAP> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- <GOOGLE FONTS> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Libre+Baskerville&family=Lora:ital,wght@1,500&family=Quicksand:wght@500&family=Rubik+Dirt&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b31041bc75.js" crossorigin="anonymous"></script>
    <!-- <API GOOGLE MAPS> -->
    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
            key: "AIzaSyDQMnszMe0WCphbHHD7HN3osj3OM7kXB6I",
        });
    </script>
    <!---------------- COMIENZO COMENTARIOS ---------------->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="JavaScript/misiones.js"></script>
    <!---------------- FIN COMENTARIOS ---------------->
</head>


<body>
    <!---------------- HEADER ---------------->

    <header class="row" id="idheader">
    </header>

    <!---------------- SECCION PRINCIPAL ---------------->
    <h2>MISIONES</h2>
    <h4 class="pag-provincias"> HOLY BREWERY PUERTO IGUAZÚ</h4>
    <div class="row provincias">
        <section class="contenido col-md-8">
            <div class="restdisplay">
                <img src="img/HOLY-ELDORADO-4-1160x652-1-1089x652.jpeg" alt="fachada"><br>
                <a class="ubicacion" href="https://maps.app.goo.gl/XgTbFw9e3oDBZyWG8" target="_blank">Ubicación:
                    Avda. Córdoba 158, Puerto Iguazú</a></BR>
                <div id="map"></div>
                <div>
                    <h3 class="calificacion">Calificación: ★★★★★ </h3>
                    <p class>Holy se inició como una fábrica de cerveza artesanal para luego ampliarse hacia el rubro
                        gastronómico, siendo actualmente uno de los mejores de la provincia. Holy significa
                        "sagrado" y sagrado es su método de elaboración utilizando en su mayoría productos de la
                        zona. Su especialidad son las pizzas al horno de leña. <br><br> Su cocina argentina
                        atrae
                        a visitantes en busca de algo distinto. Comer su tierna pizza, su bien trabajado pollo o
                        su sorprendente rape es lo que la mayoría de los comensales recomienda. Aquí puedes
                        tomar
                        una insuperable cerveza artesanal. Un aspecto positivo de este bar es que el personal es
                        admirable. Su abnegado servicio te hará sentirte especial. Su delicado ambiente añade a
                        la estancia de los invitados de Holy una sensación de relax. La puntuación de este lugar
                        en Facebook es de 4,2.
                    </p>
                </div>
            </div>
        </section>

        <!---------------- SIDEBAR ---------------->
        <aside class="sidebar col-md-4">
            <div class="card-deck">
                <div class="card text-center mb-3" style="width: 15rem;">
                    <img src="img/somos-poytava-cocina.jpg" class="card-img-top" alt="fachada">
                    <div class="card-body">
                        <h5 class="card-title">Poytava</h5>
                        <p class="card-text">Calificación: ★★★★★</p>
                        <a href="https://www.instagram.com/poytava13/?hl=es" class="btn btn-secondary"
                            target="_blank">IR</a>
                    </div>
                </div>
                <div class="card text-center mb-3" style="width: 15rem;">
                    <img src="img/aqva-restaurant.jpg" class="card-img-top" alt="fachada">
                    <div class="card-body">
                        <h5 class="card-title">Aqva Restaurante</h5>
                        <p class="card-text">Calificación: ★★★★</p>
                        <a href="https://www.instagram.com/aqvarestaurant/?hl=es" class="btn btn-secondary"
                            target="_blank">IR</a>
                    </div>
                </div>
                <div class="card text-center mb-3" style="width: 15rem;">
                    <img src="img/punto-ar.jpg" class="card-img-top" alt="fachada">
                    <div class="card-body">
                        <h5 class="card-title">Punto AR</h5>
                        <p class="card-text">Calificación: ★★★★</p>
                        <a href="https://www.instagram.com/puntoar_iguazu/?hl=es" class="btn btn-secondary"
                            target="_blank">IR</a>
                    </div>
                </div>
            </div>
    </div>
    </aside>

    <!---------------- COMIENZO COMENTARIOS ---------------->
    <section class="comentarios col-md-12" id="seccionComentarios">
        <div class="container">
            <h4>Comentarios</h4>
            <form id="formulario" enctype="multipart/form-data">

                <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" v-model="nombre">
                        <label for="nombre">Nombre:</label>
                    </div>
                    <br>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="comentario" placeholder="Ingrese su comentario"
                            v-model="comentario"></textarea>
                        <label for="comentario">Comentario:</label> 
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button @click="modificarComentario()" class="btn btn btn-outline-primary me-md-2"
                        type="button">Modificar</button>
                    <button @click="agregarComentario()" class="btn btn-outline-primary" type="button">Comentar</button>
                </div>

                <br>
                <div class="card-group" id="opiniones" v-for="comentario in comentarios" :key="comentario.id">
                    <div class="card border-dark mb-3">
                        <div class="card-body">

                            <h5 class="nombre card-title">{{comentario.nombre}}</h5>
                            <p class="comentario card-text">{{comentario.comentario}}</p>
                            <div>
                                <input class="clase-radio" type="radio" :value="comentario.id" name="id" v-model="id">
                                <label class="radio-label " for="id"><small class="text-body-secondary">Seleccionar para
                                        modificar</small></label>
                            </div>
                            <button @click="eliminarComentario(comentario.id)"
                                class="boton btn btn-outline-primary">Eliminar
                                comentario</button>
                        </div>
                    </div>
                </div>
                <br>

            </form>



        </div>
    </section>

    <script src="JavaScript/todounido.js"></script>


    <!---------------- FOOTER ---------------->
    <div class="container-fluid">
        <footer class="row" id="idfooter">
        </footer>
    </div>

    <!---------------- Bootstrap JS ---------------->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="JavaScript/navbar.js"></script>
</body>

</html>